# clion
.idea/
log/*
# vs
.vs

venv*


logs*
log/*
zlm/log*
zlm/MediaServer
zlm/www/*


**/*.pyc

Analyzer/make.log
Analyzer/analyzer
**/*.o

Admin/Admin.sqlite3

Algorithm/myenv
